/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border: 1px solid green;
}

#red{
	background-color:red;
	border: 1px solid black;
}
#green{
	background-color:green;
	border:1px solid green;
	border-top-color:rgb(255,255,0);
}


